body {
    background-color: #eeeeee;
}

.header__text {
    color: cornflowerblue;
}

.output__text {
    font-size: 1.25rem;
    overflow-wrap: break-word;
}

.card {
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: #fafafa;
}